<!DOCTYPE html>
<html>
<head>
    <%= require('html!./include/meta_tpl.html')%>
    <%= require('html!./include/mobile_detect.html')%>
    <link rel="stylesheet" href="static/css/view.css">
</head>
<body>
    <!-- 通用页面顶栏 -->
    <div id="js_header" class="header"></div>

    <!-- 频道导航 -->
    <div id="js_nav" class="channel-nav hd-ph"></div>

    <!-- 页面内容 -->
    <div id="js_page_main" class="wrap clearfix"></div>

    <%= require('html!./include/footer_tpl.html')%>
    <%= require('html!./include/header_tpl.html')%>
    <%= require('html!./include/nav_tpl.html')%>
    <%= require('html!./include/view_tpl.html')%>

    <%= require('html!./include/common_script.html')%>

</body>
</html>
